{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

<div style="background-image: url('https://images.unsplash.com/photo-1598899134739-24c46f58b8c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80')">

{% block content %}
    <div style="background-color: darkgrey">
    {{ super() }}
    <h2>ყველაზე რეიტინგული ფილმების ჩამონათვალი</h2>


    {% for each in all_movies %}
        <p>{{ each }}</p>
    {% endfor %}
</div>
{% endblock %}