{% extends 'base.html' %}
{% block content %}
    {{ super() }}
    <h2>Login - ავტორიზაცია </h2>

    <form method="post" style="width:50%; margin-left:325px">
        <input type="text" name="username" class="form-control mb-3 mt-3" placeholder="username">
        <input type="password" name="password" class="form-control" placeholder="password">

                {% with messages=get_flashed_messages(with_categories=true) %}
            {% for catg, msg in messages %}
                <p class="{{catg}}">{{msg}}</p>
            {% endfor %}
        {% endwith %}
        <button type="submit" class="btn btn-outline-dark mt-3">Authorization</button>
    </form>


{% endblock %}